.games{
  background-color: var(--navy-color);
}
.box {
  padding: 5px;
  overflow: hidden;
  width: 170px;
  max-width: 170px;   /* instead of fixed width */
  margin: auto;       /* centers inside column */
  background-color: var(--tale-color);
}
.box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: filter 0.5s;
}
.box:hover img {
  filter: blur(2px) brightness(0.5);
}
.box:hover .overlay {
  transform: translateX(0);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 200, 0.5);
  color: var(--navy-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  transform: translateX(-110%);
  transition: transform 0.5s ease;
  font-size: 15px;
  font-weight: bold;
}
.overlay .btn-link {
  margin-top: 15px;
  background-color: var(--navy-color);
  color: var(--white-color);
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.modal-content{
  background-color: var(--navy-color);
}
.modal-header,.modal-footer{
  background-color: var(--tale-color);
  color: var(--navy-color);
}
.modal-content p{
  color: var(--red-color);
  font-size: 18px;
}

@media (max-width: 500px) {
  .box {
    max-width: 180px;
  }
  .box img {
    height: 120px;
  }
  .box:hover .overlay {
    transform: translateX(0);
  }
  .overlay {
    padding: 10px;
    font-size: 12px;
  }
  .overlay .btn-link {
    margin-top: 0px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
  }
  .overlay p {
    display:none;
  }
  .modal-content p{
    color: var(--red-color);
    font-size: 15px;
  }
}